{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="message-lead">
            <img src="/assets/veliko.svg" alt="Logo Edu Framework" width="100px">
            <p class="lead">welcome to API Veliko</p>
            <p class="mini-lead"><a href="/doc">Voir la documentation de l'API</a></p>
        </div>
    </div>
{% endblock %}